<div class="flex h-screen items-center justify-center bg-blue-500">
  <div class="w-full max-w-sm">
    <form class="mb-4 rounded bg-white px-8 pb-8 pt-6 shadow-md">
      <div
        class="title mb-4 text-center text-3xl font-semibold capitalize text-gray-700"
      >
        login here
      </div>
      <div class="mb-4">
        <label class="mb-2 block text-lg font-bold text-gray-700"
          >Username</label
        >
        <input
          class="focus:shadow-outline w-full appearance-none rounded border px-3 py-2 leading-tight text-gray-700 shadow focus:outline-none"
          id="username"
          type="text"
          placeholder="Username"
        />
      </div>
    </form>
  </div>
</div>
